.frm{
    border: 0px;
    border-radius: 5px;
    margin-top: 2%;
    font-size: 30px;
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 400px;
}
.buttonF{
    border: 2px solid #FEF9C7;
    background-color: black;
    border-radius: 25px;
    color: #FEF9C7;
    font-size: 30px;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 5%;
}
.buttonF:hover{
    background-color: #FEF9C7;
    color: black;
}
.emailA{
    width: 100%;
    max-width: 250px;
    height: auto;
    margin-left: 2%;
    margin-top: 5%;
}
@media only screen and (max-width: 600px) {
    .frm{
        width: 300px;
        font-size: 20px;
    }
}