.carousel-indicators {
    background-color: rgb(29, 27, 27);
}
.carousel-control-prev-icon,
.carousel-control-next-icon {

}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 35px;
  color: black;
  font-weight: bolder;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 35px;
  color:black;
  font-weight: bolder;
}
@media only screen and (max-width: 800px){
  .carousel-indicators {
    background-color: rgba(0, 0, 0, 0);
  }
  .carousel-control-next-icon:after{
    visibility: hidden;
  }
  .carousel-control-prev-icon:after{
    visibility: hidden;
  }
}