.background1{
    background-color: #fffbe2;
}
.footer1{
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: #1B1F25;
    color: white;
    text-align: center;
    font-family: 'Rakkas', cursive;
}
h2 {
    display: flex;
    width: 50%;
    margin-left: 25%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
h2:before,
h2:after {
    content: '';
    border-top: 2px solid;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
}
h2:after {
    margin: 0 0 0 20px;
}

.heading2H{
    font-family: 'Rakkas', cursive;
    text-align: center;
    margin-bottom: 5%;
    color: black;
    font-size: 30px;
    display: none;
}
.pic1{
    width: 100%;
    max-width: 350px;
    height: auto;
    transition-duration: 500ms;
}
.pic1:hover{
    width: 100%;
    max-width: 400px;
    height: auto;
}
.pic2{
    width: 100%;
    max-width: 195px;
    height: auto;
    transition-duration: 500ms;
}
.pic2:hover{
    width: 100%;
    max-width: 235px;
    height: auto;
}
.pic4{
    width: 100%;
    max-width: 305px;
    height: auto;
    transition-duration: 500ms;
}
.pic4:hover{
    width: 100%;
    max-width: 355px;
    height: auto;
}
.pic5{
    width: 100%;
    max-width: 450px;
    height: auto;
    transition-duration: 500ms;
}
.pic5:hover{
    width: 100%;
    max-width: 480px;
    height: auto;
}
.section1{
    text-align: center;
    font-size: 30px;
    color: black;
    font-family: 'Rakkas', cursive;
}

.button2{
    background-color:#1B1F25;
    font-weight: 500;
    color: white;
    font-size: 30px;
    width: max-content;
    text-decoration: none;
    padding: 9px 30px;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    font-family: 'Rakkas', cursive;
}
.button2:hover{
    text-decoration: none;
    background-color: #FEF9C7;
    color: #1B1F25;
    border: 2px solid #1B1F25;
}
@media only screen and (max-width: 600px) {
    .heading2{
        font-size: 40px;
    }
    .section1{
        font-size: 30px;
    }
    .button2{
        font-size: 20px;
    }
    .button2:hover{
        font-size: 21px;
    }
    
}
@media only screen and (max-width: 800px) {
    .pic2{
        max-width: 200px;
    }
    .heading2H{
        display: block;
    }
    h2{
        display: none;
    }

}
